@import url(https://fonts.googleapis.com/css?family=Lato);

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
    
}
#container{
    min-height: 100%;
    animation-name: container;
    animation-duration:2s;
    animation-iteration-count:1;
}


/* CSS for top part or header part */
.top{
    height: 50%;
    background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
    width: 100%;
    animation-name: top;
    animation-duration:3s;
    animation-iteration-count:1;
    
    /* background-color: rgb(221, 91, 15); */
    /* background-image: linear-gradient(to right, rgb(47, 137, 255),rgb(6, 6, 31)); */
}

.body-header{
    color: white;
    margin-left: 15%;
    padding: 20px;
}
.body-header h5{
    margin: 1vh;
    font-size: x-large;
    padding: auto;
    animation-name: h52;
    animation-duration:4s;
    animation-iteration-count:1;
}
.body-header h6{
    margin: 1vh;
    font-size: x-large;
    padding: auto;
    animation-name: h63;
    animation-duration:5s;
    animation-iteration-count:1;
    
}
.body-header p{
    margin: 1vh;
    font-size: large;
    padding: auto;
    animation-name: p2;
    animation-duration:6s;
    animation-iteration-count:1;
}


#my-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    
    margin-left: 10vh;

}
#my-img img{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    margin-top: -3vh;
    animation-name: try;
    animation-duration:7s;
    animation-iteration-count:1;
}

/* 
2nd part that is the faq parts */
.bottom{
    margin-top: -30vh;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 50%;
    background-color: white;
    animation-name: content;
    animation-duration:8s;
    animation-iteration-count:1;
}

.heading h6{
    font-size: x-large;
}

.bottom .content{
    text-align: center;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
} 

.content{
    
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 100%;
    animation-name: content;
    animation-duration:8s;
    animation-iteration-count:1;
    
}


.heading{
    margin-top: 4vh;
    /* margin-right: 45vh; */
    animation-name: heading;
    animation-duration:9s;
    animation-iteration-count:1;
}

.content .ques1{
    margin-left: 15%;
    margin-right: 15%;
    font-size: small;
    margin-top: 4vh;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    animation-name: ques1;
    animation-duration:10s;
    animation-iteration-count:1;
    
    
}

.content .ques2{
    margin-left: 15%;
    margin-right: 15%;
    font-size: small;
    margin-top: 4vh;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    align-items: center;
    animation-name: ques2;
    animation-duration:11s;
    animation-iteration-count:1;
}

.content .ques3{
    margin-top: 4vh;
    margin-left: 15%;
    margin-right: 15%;
    font-size: small;
    background-color: whitesmoke;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    animation-name: ques3;
    animation-duration:12s;
    animation-iteration-count:1;

}

.content .ques4{
    margin-top: 4vh;
    margin-left: 15%;
    margin-right: 15%;
    font-size: small;
    background-color: whitesmoke;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    animation-name: ques4;
    animation-duration:13s;
    animation-iteration-count:1;
}
.dot{
    height: 13px;
    width: 13px;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
    padding: 6px;
    margin-right:10px;
}

.button{
    margin-top: 4vh;
    margin-left: 20%;
    margin-right: 20%;
    font-size: small;
    height: 50px;
    width: 40%;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-bottom: 5vh;
    animation-name: button;
    animation-duration:14s;
    animation-iteration-count:1;
    
}

@keyframes try{
    from{
        margin-top:100%;
    }
    to{
        margin-top:-3vh;
    }
}

@keyframes ques1{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}

@keyframes ques2{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}

@keyframes ques3{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}

@keyframes ques4{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}
@keyframes button{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}

@keyframes heading{
    from{
        margin-top:100%;
    }
    to{
        margin-top:4vh;
    }
}
@keyframes content{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
}

@keyframes p2{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
}
@keyframes h63{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
}
@keyframes h52{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
}
@keyframes top{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
} 
 @keyframes container{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
} 
@keyframes bottom{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
} 
@keyframes header{
    from{
        margin-top:100%;
    }
    to{
        margin-top:0%;
    }
} 


 @media only screen and (max-width:568px){
     .heading{
        font-size: x-large;
        margin-top: 20%;
         
     }
     #my-img img{
        margin-top: 10vh;
     }
     @keyframes try{
        from{
            position:fixed;
            margin-top:100%;
        }
        to{
            margin-top:10vh;
        }
    }

     .bottom{
         margin-top: -10vh;
     }
     @keyframes bottom{
        from{
            margin-top:100%;
        }
        to{
            margin-top:-10vh;
        }
    }
    header{
         padding-top: 300px;
    animation-name: header;
    animation-duration:8s;
    animation-iteration-count:1;
    }
    @keyframes header{
        from{
            margin-top:100%;
        }
        to{
            margin-top:-10vh;
        }
    }

 }

